{% extends 'base.html' %}

{% block title %}About Us - miRNAProtPred{% endblock %}

{% block hero_content %}
<h1 class="text-white font-weight-bold">Meet Our Team</h1>
<p class="text-white font-weight-bold">Get to know the people behind miRNAProtPred</p>
{% endblock %}

{% block content %}
<div class="container mt-5">
    <table class="table table-bordered">
        <tbody>
            <tr>
                <td>
                    <p><strong>Dr. Manisha Pritam (Principal Investigator)</strong>
                    &nbsp; <a href="https://www.linkedin.com/in/manisha-pritam-041a64148/" target="_blank"><i class="fa fa-linkedin-square" style="font-size:24px;color:blue"></i></a>
                    &nbsp; <a href="https://www.manishapritam.me/" target="_blank"><i class="fa fa-globe" style="font-size:24px;color:blue"></i></a>
                    &nbsp; <a href="mailto:manishapritam12@gmail.com"><i class="fa fa-envelope" style="font-size:24px;color:blue"></i></a>
                    </p>
                    <p>Post Doctoral Fellow</p>
                    <p>National Institute of Allergy and Infectious Diseases</p>
                    <p>National Institutes of Health, United States.</p>
                </td>
                <td class="text-center">
                    <img src="{{ url_for('static', filename='img/manisha.jpg') }}" width="180" height="200" alt="Manisha">
                </td>
            </tr>
            <tr>
                <td>
                    <p><strong>Somenath Dutta (Lead Investigator)</strong>
                    &nbsp; <a href="https://www.linkedin.com/in/somenath-dutta-a59181199/" target="_blank"><i class="fa fa-linkedin-square" style="font-size:24px;color:blue"></i></a>
                    &nbsp; <a href="https://www.sduttamedicine.works/" target="_blank"><i class="fa fa-globe" style="font-size:24px;color:blue"></i></a>
                    &nbsp; <a href="mailto:sduttabiotech@gmail.com"><i class="fa fa-envelope" style="font-size:24px;color:blue"></i></a>
                    </p>
                    <p>Doctoral Fellow</p>
                    <p>Department of Biomolecular Engineering,</p>
                    <p>Pusan National University, Busan, South Korea.</p>
                </td>
                <td class="text-center">
                    <img src="{{ url_for('static', filename='img/somenath.jpg') }}" width="180" height="200" alt="Somenath">
                </td>
            </tr>
            <tr>
                <td>
                    <p><strong>Nitimoy Mondal (Research Software Developer)</strong>
                    &nbsp; <a href="https://www.linkedin.com/in/nitimoy/" target="_blank"><i class="fa fa-linkedin-square" style="font-size:24px;color:blue"></i></a>
                    &nbsp; <a href="https://nitimoy.netlify.app/" target="_blank"><i class="fa fa-globe" style="font-size:24px;color:blue"></i></a>
                    &nbsp; <a href="mailto:nitimoy@gmail.com"><i class="fa fa-envelope" style="font-size:24px;color:blue"></i></a>
                    </p>
                    <p>Masters of Technology (MTech)</p>
                    <p>Department of Computer Science,</p>
                    <p>Rajasthan Technical University, Rajasthan, India</p>
                </td>
                <td class="text-center">
                    <img src="{{ url_for('static', filename='img/nitimoy.jpg') }}" width="180" height="200" alt="Nitimoy">
                </td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}
