<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}miRNAProtPred{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<body>
    <!-- Navbar Section -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-cyan">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img src="{{ url_for('static', filename='logo.png') }}" alt="miRNA-ProtPred Logo" style="height: 90px;">
            </a>
            <a class="navbar-brand h1" href="{{ url_for('index') }}">miRNAProtPred</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/utr_prime">3’UTRmiRNA-Pred</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/sequence_finder">miRNA-SeqFinder</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/validator">miRNA-Validator</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://mirnaprotpred.com/downloads/miRNAProtPred_Help.pdf">Help</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about_us">Team</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact_us">Contact Us</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Hero Section -->
    <section class="hero-section text-center text-white bg-primary py-5">
        <div class="container">
            {% block hero_content %}
            <h1 class="text-white font-weight-bold">Welcome to miRNAProtPred</h1>
            {% endblock %}
        </div>
    </section>

    <div class="container mt-4">
        {% block content %}{% endblock %}
    </div>

<!-- Waiting Modal -->
<div class="modal fade" id="waitingModal" tabindex="-1" role="dialog" aria-labelledby="waitingModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="waitingModalLabel">Processing Request</h5>
        </div>
        <div class="modal-body text-center">
          <p>Please wait while we process your request. This may take a few moments.</p>
          <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
      </div>
    </div>
  </div>

    <footer class="bg-cyan text-white text-center py-3">
        <div class="container">
            <ul class="nav justify-content-center border-bottom pb-3 mb-3">
                <li class="nav-item"><a href="/" class="nav-link text-white">Home</a></li>
                <li class="nav-item"><a href="/utr_prime" class="nav-link text-white">3’UTRmiRNA-Pred</a></li>
                <li class="nav-item"><a href="/sequence_finder" class="nav-link text-white">miRNA-SeqFinder</a></li>
                <li class="nav-item"><a href="/validator" class="nav-link text-white">miRNA-Validator</a></li>
                <li class="nav-item"><a href="https://mirnaprotpred.com/downloads/miRNAProtPred_Help.pdf" class="nav-link text-white">Help</a></li>
                <li class="nav-item"><a href="/about_us" class="nav-link text-white">Team</a></li>
                <li class="nav-item"><a href="/contact_us" class="nav-link text-white">Contact Us</a></li>
            </ul>
            <p class="text-center">© 2023 miRNA-ProtPred. All rights reserved.</p>
            <p>Unique Visitors: {{ unique_visitors }}</p>
            <p>Total Visits: {{ visit_count }}</p>
        </div>
    </footer>

    <script src="{{ url_for('static', filename='js/jquery-3.5.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery-ui.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/validations.js') }}"></script>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    {% block scripts %}{% endblock %}
</body>

</html>
