{% extends 'base.html' %}

{% block title %}Home - miRNAProtPred{% endblock %}

{% block hero_content %}
<h1 class="text-white font-weight-bold">miRNAProtPred</h1>
<h3 class="text-white font-weight-bold">A Web Tool for Prediction of Human miRNA Associated with Pathogens.</h3>
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center mb-4">Why miRNA-ProtPred?</h2>
    <p>miRNA-ProtPred predicts the human miRNAs that have potential to inhibit the expression of gene/protein of different pathogens.</p>
    <p>Most techniques predict miRNA against human proteins; however, miRNA-ProtPred is the first online server to predict human miRNA against 3’UTR, protein, RNA, or DNA of human pathogens.</p>
    <div class="text-center my-4">
        <img src="https://s11.gifyu.com/images/S43TY.gif" alt="tool_img" class="img-fluid">
    </div>
    <h3 class="mt-4"><u>Why miRNA?</u></h3>
    <ul class="list-unstyled">
        <li class="mb-2"><strong>&bull;</strong> It plays an important role in gene regulation and protein expression.</li>
        <li class="mb-2"><strong>&bull;</strong> During pathogenic infection, the miRNA of the human host can bind with 3’ UTR of mRNA of pathogen and can inhibit the gene/protein expression and ultimately helps in disease control.</li>
        <li class="mb-2"><strong>&bull;</strong> The FDA has not yet approved any miRNA-based therapeutics (as of 2023). However, some miRNA mimics are under different phases of clinical trials.</li>
    </ul>
</div>
{% endblock %}
